

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root{
    --selectColor:#b7ff00;
    --selectBack:#000000;
    --proLight:#00f2ff;
    --proLightHov:#80f2ff;
    --proKeys: #0098a5;
    --proKeysHov:#006269;
    --prokeyPress:#adff2f;
    --colorODIN:#3273dc; 
    --colorMERAKI:#67b346;
    --colorCOMMPILOT:#ad5bff;
    --colorGDMS:#162543;
    --colorACTEL:#0aa9d6;
    --colorCorp1: #2fb1db;
    --colorCorp2:#0f4769 ;
    --colorCorp3:#00bcd4 ;
    --colorDestacadoNormal: #e77400;
    --colorDestacadoRemarcado : #ff891a;
    --colorTNormal: linear-gradient(135deg,#4486ff,#3661ff);
    --colorTPro: linear-gradient(45deg,#00508d,#00a6c3);
}
    
*{
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::selection{
    background: var(--selectBack);
    color: var(--selectColor);
}



#body{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    min-height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
    flex-direction: column;
}
#bg{
    position: fixed;
    background: url("./../src/slide-02.jpg") fixed center center;
    opacity: 70%;
    filter: sepia(.5);
    /* background: url("./../src/illustration.jpg") fixed center center; */
    /* opacity: 80%; */
    /* filter: saturate(.7); */
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    min-width: 600px;
    margin: 0 auto;    
}

nav *::selection{
    background: transparent;
    color: #888;
}
nav div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    flex-grow: 1;
    min-width: 600px;
    padding: 5px;
    margin: 10px auto 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 1000px #fff inset,
                0px 0px 0px #fff;

}

nav div.logo img{
    width: 200px;
}

nav div.enlacesNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    min-height: 5vh;
    min-width: 600px;
    flex-grow: 5;
}

nav div.enlacesNav a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 5vh;
    text-align: center;
    background: #eee;
    color: #000;
    transition: 1s;
    border-bottom: solid 5px #ccc;
    text-decoration: none;

}
nav div.enlacesNav a:hover{
    transition: .1s;
    text-shadow: 1px 1px 1px #fff;
}
nav div.enlacesNav a:active{
    transition: .1s;
}

nav div.enlacesNav a:nth-child(1){
    border-radius: 10px 0 0 10px;
}
nav div.enlacesNav a:nth-child(1):hover{
    border-bottom: solid 5px var(--colorACTEL) ;
    color: var(--colorACTEL);
}
nav div.enlacesNav a:nth-child(1):active{
    background: var(--colorACTEL);
    color: #fff;
}

nav div.enlacesNav a:nth-child(2):hover{
    border-bottom: solid 5px var(--colorCOMMPILOT) ;
    color: var(--colorCOMMPILOT);
}
nav div.enlacesNav a:nth-child(2):active{
    background: var(--colorCOMMPILOT);
    color: #fff;
}
nav div.enlacesNav a:nth-child(3):hover{
    border-bottom: solid 5px var(--colorODIN) ;
    color: var(--colorODIN);
}
nav div.enlacesNav a:nth-child(3):active{
    background: var(--colorODIN);
    color: #fff;
}

nav div.enlacesNav a:nth-child(4):hover{
    border-bottom: solid 5px var(--colorGDMS);
    color: var(--colorGDMS);
    
}
nav div.enlacesNav a:nth-child(4):active{
    background: var(--colorGDMS);
    color: #fff;
}
nav div.enlacesNav a:nth-child(5){
    border-radius: 0 10px 10px 0;
}
nav div.enlacesNav a:nth-child(5):hover{
    border-bottom: solid 5px var(--colorMERAKI);
    color: var(--colorMERAKI);
    
}
nav div.enlacesNav a:nth-child(5):active{
    background: var(--colorMERAKI);
    color: #fff;
}

main{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap !important;
    min-width: 600px;
    min-height: 80vh;
    padding: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    scale: 1;
}
.init{
    border: solid 1px red;
}
.initAnim{
    border: solid 1px red;
    animation: initAnim 2s forwards ease-in;
}
@keyframes initAnim {
    0%{
        border: solid 1px #f00;
    }
    5%{
        border: solid 1px #f00;
    }
    10%{
        border: solid 1px #080;
    }
    30%{
        border: solid 1px #6f4;
    }
    100%{
        border: solid 1px #000;
    }
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #eeed;
    padding: 5px;
    border: solid 1px #aaa;
    box-shadow: 2px 2px 5px #aaa;
    border-radius: 10px;
    flex-grow: 0;
    margin: 0 auto;
    min-width: 600px;
    max-width: 600px;
}
form *::selection{
    color: #000;
    background-color: #ddd;
}


div.datosFijos, div.datosDinamicos{
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 50%;
}
.footerForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;  
}
div.datosFijos label{
    border-left: solid 1px #fff5;
    border-bottom: ridge 1px #ccc;
    border-radius: 20px;
    
}

div.datosDinamicos label{
    border-left: solid 1px #fff5;
    border-bottom: ridge 1px #ccc;
    border-radius: 20px;
}
label{
    width: 90%;
    padding: 5px;
    margin: 5px;
    min-height: 8vh;
    max-height: 8vh;
    display: flex;
    flex-direction: column;
}
label p{
    margin: 1px;
}

form input,select, #descargarMAC, #descargarPASS{
    margin: 5px;
    padding: 0 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #aaa;

}
form p{
    width: 95%;
    flex-grow: 2;
}
form input,select{
    width: 95%;
    flex-grow: 2;
    border: solid 1px black;
}
form .footerForm button{
    max-width: 490px;
    flex-grow: 1;
    line-height: 30px;
    margin: 10px 25px;
    border-radius: 5px;
    background: var(--colorDestacadoNormal);
    color: #fff;
    border: solid 1px #aaa;
    box-shadow: 2px 2px 5px var(--colorCorp2);
    box-shadow: 2px 2px 5px #aaa;
    transition: 1s;
}
form .footerForm button:hover{
    background: var(--colorDestacadoRemarcado);
    transition: .1s;
}

#visor{
    width: 600px;
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
}

#visor div{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-width: 140px;
}
#visor div p{
    text-align: left;
    width: 100%;
    margin: 5px auto;
    font-family: 'Anonymous Pro', monospace;
}

.registro.titulo .campo{
    border-bottom: var(--colorDestacadoNormal) solid 1px;
}
.registro.titulo .campo p{
    font-size: 18px;
}
.registro.titulo .campo p{
    color: var(--colorDestacadoNormal);
}
.registro .campo{
    margin: 0px 5px;
    line-height: 20px;
}
.registro .campo.campoPass p{
    text-align: center !important;
} 

#btnDescarga{
display: flex;
justify-content: center;
align-content: center;
margin: 10px auto 0;
flex-grow: 1;
min-width: 500px;
max-width: 30vw;
margin-bottom: 10px;

}

#btnDescarga a{
background: var(--colorDestacadoNormal);
color: #fff;
text-decoration: none;
text-align: center;
flex-grow: 1;
}

#btnDescarga a:hover{
    background: var(--colorDestacadoRemarcado);

}


#hh.hide{
    display: none;
    transition: 1s;
}

.hide{
    display: none;
}

.alert{
    box-shadow: 2px 2px 6px #f007,
                1px 1px 5px #fff;
}

.lock{
    border: solid 2px #f38906;
}

/* modo pro */

.generado p{
    background: var(--colorCorp2);
    border-radius: 3px;
    color: #fff;
    text-align: center !important;
    cursor: pointer;
    transition: .7s;
}
.generado p:hover{
    background: var(--colorCorp3);
    transition: .1s;
}
.generado p:active{
    background: var(--proLightHov);
    transition: .1s;
}

.generado.hue p{
    background: var(--colorMERAKI);
    transition: .1s;
}

.generado.hue p:active{
    background: var(--proLightHov);
    transition: .1s;
}

#body.userPro {
    background: #222;
    transition:1s;
}

#body.userPro nav div.logo{
    border-radius: 10px;
    background: #fff3;
    box-shadow: 0px 0px 5000px #fff inset,
                0px 0px 100px #fff;
}

#body.userPro #btnDescarga a{
    background: var(--colorCorp3);
    color: #000;
    transition: .7s;
}

#body.userPro #btnDescarga a:hover{
    transition: .1s;
    background: var(--proLightHov);
}

#body.userPro .registro.titulo .campo{
    border-bottom:solid 2px var(--proLight);
}
#body.userPro  .registro.titulo .campo p{
    color: var(--proKeys);
}

#body.userPro .lock{
    border: solid 2px var(--proLight);
}

#body.userPro form button{
    color: #fff;
    background: var(--colorCorp2);
    border: #fff solid 1px;
    transition: .7s;
    cursor: pointer;
}

#body.userPro form button:hover{
    background: var(--colorCorp1);
    transition: .1s;

}
#advUser{
    position: sticky;
    bottom: 20px;
    min-width: 200px;
    max-width: 200px;
    min-height: 20vh;
    margin: 0 auto;
    border-radius: 20px;
    border: solid 2px #00e5ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 1s;

}

#advUser button#nuevo{
    flex-grow: 1;
    line-height: 20px;
    min-width: 500px;
    max-width: 500px;
    border-radius: 10px;
    border: solid 1px #aaa;
    box-shadow: 2px 2px 5px #aaa;
    background: #eee;
}
#advUser button#nuevo:hover{
    background: #fff;
    color: #f00;
    cursor: pointer;
}

#advUser span {
    text-align: center;
    width: 100%;
}

#advUser span::before{
    display: block;
    background: var(--colorCorp1);
    content: "¿Usuario Pro?";
    padding: 10px 20px;
    border-radius: 10px;
    color: #000;
    opacity: .7;
    transition: 1s;
    text-align: center;

}
#advUser span:hover::before{
    display: block;
    background: var(--colorCorp2);
    content: "¿Seguro?";
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    opacity: 1;
    transition: .5s;
    text-align: center;
}

#body.userPro #advUser{
    background: #000a;
    min-width: 600px;
    max-width: 600px;
    min-height: 20vh;
    border: dashed 2px #00e5ff;
    padding: 20px;

}
#body.userPro #advUser{
    cursor: default;
}

#advUser button{
    width: 20%;
    min-width: 180px;
    max-width: 180px;
    flex-grow: 1;
    margin: 0 20px;
    padding: 5px;
    color: #000;
    font-weight: bold;
    background: var(--proLight);
    border: solid 1px #fff;
    border-radius: 10px;
    transition: .7s;
}

#advUser button:hover{
    background: var(--proLightHov);
    transition: .1s;
    cursor: pointer;
}
#body.userPro #advUser span{
    opacity: 1;
}
#body.userPro #advUser span:hover{
    cursor: default;
}

#body.userPro #advUser span::before{
    content: '< Wild[Card] />';
    font-family: 'Anonymous Pro', monospace;
    font-weight: lighter;
    background: transparent;
    color: var(--colorCorp3);
    color: transparent;
    color: #aaa;
}
