

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root{
    --selectColor:#b7ff00;
    --selectBack:#000000;

}
    
*{
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::selection{
    background: var(--selectBack);
    color: var(--selectColor);
}



